<mat-toolbar color="primary">
  <span>Limmpiapp</span>
  <span> <button routerLinkActive="active" [routerLink]="'/persons'" mat-flat-button color="primary">Persons</button> </span>
  <span> <button routerLinkActive="active" [routerLink]="'/createPerson'" mat-button color="white">New person</button> </span>
  <span> <button routerLinkActive="active" [routerLink]="'/login'" mat-flat-button color="primary">Sign in</button> </span>
  <span> <button routerLinkActive="active" [routerLink]="'/register'" mat-button color="white">Register</button> </span>
</mat-toolbar>
<router-outlet></router-outlet>
